<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Property Customer</h1>
    <h3>You got a Response from Owner! </h3><br>


    <h4>Please contact details mention below: </h4>
    
    <p>Owner Name: <%= @post.owner_name %></p>
    <p>Email: <%= @post.email %></p>
    <p>Phone: <%= @post.phone %></p>
    
    
  </body>
</html>
