<h1>About Us</h1>
<h6 style="color:tomato">Awards and Recognitions<h6>
1.  PropTech Mobile App of the Year Award 2019 99acres.com won the award for ‘Personalized User Journey’<br>
2.  Best Mobile Appies Award 2015 99acres.com won the award for having the ‘Most Innovative Mobile App’ in the real estate category.<br>
3.  CMO ASIA Awards 2012 99acres.com was awarded the ‘Most Admired Real Estate Website of the Year’ at the 3rd CMO Asia Awards for excellence in the real estate segment.
4.  BCI Awards 2012<br>
5.  99acres.com was recognised as the ‘Best Real Estate Portal’ in 2012.<br>
6.  Accommodation Times Awards 2012 99acres.com was announced the ‘Best Online Realty Portal’ by the Accommodation Times in 2012.<br>
  

Please write to us at services@99acres.com or call us at 1800 41 99099 (09:00 AM to 07:00 PM, Monday to Friday)
  You’ve finally set your sight on the house that you want to buy, you heave a sigh of relief. The hard part is over, but your legal formalities are not. 
  It’s the one thing that separates you from being the legal or rightful owner of your new home so sadly, you’re not done just yet. 
  Before you go sign your name on any agreement, it’s important that you know what the sales agreements are all about. 
  Let’s take a look at the prevalent guidelines and regulations for sales agreements in 2022.
